body{
    background-color: #35654d;
}
body>*{
padding: 10px;
margin: 5px;
}
header{
    text-align: center;
    border: 2px solid #633b3b ;
    background-color: rgba(99, 59, 59, 0.8);
    color: lemonchiffon;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    border-radius: 10px;
}
main[id="points"]{
    background-color: rgb(79, 48, 31, 0.8);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-radius: 10px;
}
/* karty */
main[id="points"]>div{
    display: block;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: #fff;
    text-align: center;
}
.point{
    color: greenyellow;
}
main[id="points"]>div>img{
    width: 100px;
}
footer{
    text-align: center;
}
footer>a>button{
    background-color: rgb(255, 235, 205, 0.8);
    border: 2px solid rgb(255, 245, 205);
    border-radius: 10px ;
    color: rgb(186, 9, 9);
    text-transform: uppercase;
    padding: 3px;
    width: 10%;
}
footer>a>button:hover{
    color: rgb(213, 10, 10);
    background-color: rgba(246, 218, 177, 0.8);
    border: 2px solid rgb(254, 237, 173);
    padding: 5px;
    width: 11%;
}